body {
	font-family: Arial;
	font-size: 15px;
	font-style: bold;
	margin: 0;
	padding:0;
	background: #FF9A00;
	background-image: url(../img/tech.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}